doctype html
html(lang="en")
  head
    title NYT app
  body
    header
      h1(style="font-family:Palatino Linotype, Book Antiqua, Palatino, serif") NYT app
      h2(style="font-family:Palatino Linotype, Book Antiqua, Palatino, serif") Top Story
    block content 
    footer
      h3(style="font-family:Palatino Linotype, Book Antiqua, Palatino, serif") An app that gets you the top stories from New York Times